<?xml version="1.0"?>
<launch>
  <!-- Object Detection 노드 -->
  <node
    name="object_detection_node"
    pkg="Object_detect"
    type="object_detection_node"
    output="screen"
  >
    <!-- 토픽 파라미터 -->
    <param name="lidar_topic"  value="/livox/lidar"/>
    <param name="camera_topic" value="/camera/image_raw/compressed"/>
    <param name="yolo_topic"   value="/yolov8_pub"/>
    <param name="frame_name"   value="livox_frame"/>
  </node>
</launch>

